:root{
    --green:#127e73;
    --yellow:#d0aa21;
    --black:#262626;
    --offwhite: #fbf8ed;
}

html{
    background-color: white;
}

.headsection{
    background-image: url("./images/homebg.png");
    background-color: var(--green);
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.headsection>h1{
    font-size: 48px;
    padding-bottom: 12px;
}
.headsection>h4{
    font-size: 32px;
    padding-bottom: 12px;
    font-style: italic;
}

.headsection>a{
	padding: 8px 10px;
	background-color: var(--yellow);
	border: none;
	border-radius: 12px;
	color: white;
	cursor: pointer;
    font-size: 24px;
    margin: 10px 0;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
}
.headsection>a:hover{
    background-color: #c5a11f;
}
.project-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 48px;
}
.project-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 48px;
}
.card-content{
    margin: 24px;
    text-align: left;
}

@media (max-width: 500px) {
    .project-left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px;
    }
    .project-right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px;
    }
    img{
        width: 100%;
    }
  }

  h4{
    font-weight: normal;

  }