:root{
    --green:#127e73;
    --yellow:#d0aa21;
    --black:#262626;
    --offwhite: #fbf8ed;
}

html{
    background-color: white;
}
img{
    border-radius: 50%;
    width: 30vh;
}

#modal {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    z-index: 1;
    display: none;
}
#modal-container>img{
    border-radius: 0px;
    width: 65vh;
}
#modal-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}